.footer
    .footerContent
        .linkContainer
            ul
                li
                    a(href = "/explore") Mobile App
                li
                    p Connect with Social Media
        .SocialMediaContainer
            ul
                li
                    a(href = "https://www.facebook.com/skillcourtofficial/")
                        img#socialLink(src = "/images/facebook-icon.png")
                li
                    a(href = "https://twitter.com/skillcourt")
                        img#socialLink(src = "/images/twitter-icon.png")
                li
                    a(href = "https://www.youtube.com/channel/UCHnRtFousnVXcwpb0dYaA-A")
                        img#socialLink(src = "/images/youtube-icon.png")     
                li
                    a(href = "https://plus.google.com/109020433732133526033")
                        img#socialLink(src = "/images/google+-icon.png")




