extends layout

block content
    .bodyContent
        .heading
            h1 SkillCourt
            h3 create  |  compete  |  compare
            br
        .video-container
            iframe#SkillCourtVideo(width='560', height='315', src='https://www.youtube.com/embed/wSjEUqWEywE', frameborder='0', allowfullscreen='')
            // Remember to take the 'embed' link. don't copy the 'watch' url
