extends layout

block content
    .bodyContent
        .loginButtons
            img#logButton(
                src = "/images/facebook-login-button.png"
                onclick = "logUserFacebook()")
            .standardOptions
                a(href = "/standardLogin") Log in 
                p &nbsp;or 
                a(href = "/standardCreateAccount") create an account with e-mail


    script(src = "/javascripts/signIn.js")
        