body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #ccc;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  width: 100%;
  height: 100%;
  bottom: 0;
}
.header {
  z-index: 2;
  position: fixed;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #444;
  display: block;
}
.header .container {
  position: relative;
  margin: 0 auto;
  width: 94%;
}
.header .logo #logo {
  float: left;
  height: 50px;
  padding: 5px;
}
.header .container h1 {
  position: relative;
  top: 0px;
  margin: 0px;
  text-transform: uppercase;
  font-size: 1.2em;
  color: #fff;
}
.header .nav {
  position: absolute;
  right: 0;
  top: -15px;
  height: 60px;
}
.header h2 {
  display: block;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.header li a:hover {
  background-color: #005f5f;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  cursor: pointer;
}
.sidenav a:hover,
.offcanvas a:focus {
  color: #f1f1f1;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.bodyContent {
  text-align: center;
  padding-top: 150px;
  padding-bottom: 150px;
  position: relative;
  min-height: 400px;
  display: block;
}
.bodyContent .inline {
  display: inline;
}
.bodyContent a:hover {
  cursor: pointer;
}
.bodyContent .newForms p {
  color: #808080;
  display: block;
}
.video-container {
  position: relative;
  padding: 0% 10% 33% 10%;
  margin-left: 20%;
  margin-right: 20%;
  width: 40%;
  overflow: hidden;
}
.video-container iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.bodyContent .loginButtons {
  padding: 25px;
}
.bodyContent .loginButtons #logButton {
  margin: 25px;
  cursor: pointer;
}
.bodyContent p {
  display: inline-block;
}
.bodyContent .standardOptions p,
.bodyContent .standardOptions a {
  display: inline;
}
.bodyContent .bodySection {
  min-height: 500px;
  padding: 20px;
}
.bodyContent .bodySection {
  display: block;
}
.bodyContent .bodySection .cycleInfo {
  padding: 0 10%;
}
.bodyContent .bodySection .cycleInfo h2 {
  display: inline;
}
.bodyContent .bodySection img {
  display: inline;
  height: 25px;
  margin: 0 10%;
}
.bodyContent .bodySection img:hover {
  cursor: pointer;
}
.bodyContent .bodySection .cycleInfo .imageContainer {
  padding: 5%;
  float: left;
  width: 30%;
}
.bodyContent .bodySection .cycleInfo .imageContainer img {
  height: 350px;
  width: 200px;
}
.bodyContent .bodySection .cycleInfo .infoContainer {
  width: 50%;
  margin-left: 40%;
  overflow: hidden;
  text-align: left;
  padding: 5%;
}
.bodyContent .bodySection .cycleInfo .infoContainer p {
  display: block;
}
.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.3);
  overflow: hidden;
  font-family: roboto;
}
.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: roboto;
}
.loginmodal-container button {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}
.loginmodal-container input {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  padding: 0 8px;
  box-sizing: border-box;
}
button {
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1);
  background-color: #4d90fe;
  padding: 17px 0px;
  font-family: roboto;
  font-size: 14px;
}
.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
}
.login-help {
  font-size: 12px;
}
.footerContent {
  position: relative;
  right: 0;
  left: 0;
  bottom: 0;
  display: block;
  padding: 40px 100px;
  background-color: #444;
  text-align: center;
  clear: both;
}
.footerContent .linkContainer {
  text-align: center;
}
.footerContent .linkContainer ul {
  display: inline-block;
  margin: auto;
  padding: 0;
}
.footerContent .linkContainer ul li {
  list-style: none;
  margin: 10px 0px 10px 0px;
}
.footerContent .linkContainer ul li a {
  display: block;
  color: #fff;
  padding: 0px 10px;
  text-decoration: none;
}
.footerContent .linkContainer ul li p {
  color: #fff;
}
.footerContent .SocialMediaContainer {
  text-align: center;
}
.footerContent .SocialMediaContainer ul {
  display: inline-block;
  margin: auto;
  padding: 0;
}
.footerContent .SocialMediaContainer ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 0px 10px 0px;
}
.footerContent .SocialMediaContainer ul li a {
  display: block;
  color: #fff;
  padding: 0px 10px;
  text-decoration: none;
}
#socialLink {
  height: 50px;
}
@media screen and (max-width: 600px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
  #SkillCourtVideo {
    width: 360px;
    height: 202px;
  }
  .bodyContent {
    padding-top: 50px;
  }
  .bodyContent .bodySection .cycleInfo .imageContainer {
    width: 100%;
    float: none;
    padding: 0;
    padding-top: 5%;
    margin: 0;
  }
  .bodyContent .bodySection .cycleInfo .infoContainer {
    width: auto;
    margin: 0;
    text-align: center;
  }
  .bodyContent .loginButtons {
    padding: 0;
    margin-top: 20%;
  }
  .bodyContent .loginButtons #logButton {
    padding: 0;
    width: 80%;
  }
  .bodyContent .loginmodal-container {
    padding: 5%;
    max-width: 90%;
    margin: 0;
  }
  .video-container {
    position: relative;
    padding: 0% 0% 66% 0%;
    margin-left: 0%;
    margin-right: 0%;
    width: 100%;
    overflow: hidden;
  }
  .video-container iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
}
